<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <label>Server Name</label>
            <br>
            <input 
            type="text"
            class="col-12"
            [(ngModel)]="serverName">
            <br>
            <button 
            class="btn btn-primary" 
            [disabled]="!allowNewServer"
            (click)="onCreateServer()">Add server</button>
            <!-- <h4 class="text-primary">{{serverCreationStatus}}</h4> -->
            <h4 class="text-primary" *ngIf="serverCreated; else elseBlock"> 
                <!--also works with *ngIf= "!serverCreated"-->
                {{serverCreationStatus}}
            </h4>
            <ng-template #elseBlock>
                <h4 class="text-danger">Server not found 😔</h4>
            </ng-template>
            <app-server *ngFor ="let server of servers"></app-server>
            <lore-app></lore-app>
        </div>
    </div>
</div>
