<div class="container">
    <button class="btn btn-primary" (click)="toggleText()">Display Details</button>
    <p *ngIf="btnClicked">{{toggledText}}</p>
    <div class="col-12 text-center">
        <h3><strong>Click Logs</strong></h3>
        <ul class="toggler_list">
            <!-- Previous versions (and Maximilian's solution)
                <div *ngFor="let click of clicksArr; let i = index"
                [ngStyle]="{backgroundColor : i >= 4 = 'blue' : 'transparent'}"
                [ngClass]="{'text-white': i <= 4}">
                {{click}} Clicks Pressed</div>

             -->
            <!-- Angular 17 notation without index-->
            @for(click of clicksArr; track click){
                @if(click <= 4){
                    <li> {{click}} Clicks Pressed </li>
                } @else if(click >= 5) {
                    <li [ngStyle]="{'background-color': '#0A2463'}" [ngClass]="'text-white'">
                    {{click}} Clicks Pressed </li>
                    }
                }

        </ul>
    </div>
</div>